root = true

[*]
charset = utf-8
indent_style = tab

[*.java]
insert_final_newline = true

[*.{info,mcmeta,json}]
indent_style = space
indent_size = 2

[*.gradle]
indent_style = space
indent_size = 4
