# Text
*       text    eol=lf
*.java  text    eol=lf
*.json  text    eol=lf
*.md    text    eol=lf
*.txt   text    eol=lf
*.sh    text    eol=lf
*.bat   text    eol=crlf

# Binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.jar   binary
