.DS_Store
CHANGELOG
LICENSE.txt
Thumbs.db

/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/common/*
/src/minecraft/*
/src/minecraft_server/*

!/src/minecraft/com/
!/src/common/co/
!/src/minecraft/co/
!/jars/Flan/
!/eclipse/Minecraft/bin/gui/
!/eclipse/Minecraft/bin/spritesheets/
!/eclipse/Minecraft/bin/teamsMod/

*.bat
*.sh