build/
.classpath
.project
.gradle/
.settings/org.eclipse.jdt.core.prefs
eclipse/
bin/
CREDITS-fml.txt
forge-1.7.2-10.12.0.1024-changelog.txt
LICENSE-fml.txt
README.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt